.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #232F3E;
    color: #fff;
}
.inneruf{
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    font-size: small;
    padding: 5% 0%;
}
.inneruf ul{
    padding: 0;
    margin: 0;
}
.inneruf li{
    list-style: none;
    padding-bottom: 5%;
    text-align:start;
    align-items: start;
    word-wrap: break-word;
    width: 90%;

}
.inneruf a{
    text-decoration: none;
    color: lightgray;
}
.inneruf a:hover{
    text-decoration: underline;
}
.middlefooter{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    width: 100%;
    padding: 2% 0%;
}
.bf{
    background-color:#131A22;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerbf{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.innerbf table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.innerbf tr{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 1%;
}
.innerbf td{
    width: 12%;
}
.innerbf a{
    color:gray;
    text-decoration: none;
    font-size:small;
}
.innerbf a:hover{
    text-decoration:underline;
}
.innerbf2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    width: 100%;
    padding: 2% 0%;
    font-size:small;
}
.innerbf2 ul{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.innerbf2 li{
    list-style:none;
    margin-bottom: 2%;
}
.innerbf2 a{
    text-decoration: none;
    color: #fff;
}
.innerbf2 a:hover{
    text-decoration: underline;
}