.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #232F3E;
    color: #fff;
}
.upperfooter_mobile .inneruf{
    display: none;
}
.inneruf{
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    font-size: small;
    padding: 5% 0%;
}
.inneruf ul{
    padding: 0;
    margin: 0;
}
.inneruf li{
    list-style: none;
    padding-bottom: 5%;
    text-align:start;
    align-items: start;
    word-wrap: break-word;
    width: 90%;

}
.inneruf a{
    text-decoration: none;
    color: lightgray;
}
.inneruf a:hover{
    text-decoration: underline;
}

.middlefooter_mobile{
    display: none;
}

.middlefooter{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    width: 100%;
    padding: 2% 0%;
}
.bf{
    background-color:#131A22;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerbf2_mobile{
    display: none;
}

.innerbf{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.innerbf table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.innerbf tr{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 1%;
}
.innerbf td{
    width: 12%;
}
.innerbf a{
    color:gray;
    text-decoration: none;
    font-size:small;
}
.innerbf a:hover{
    text-decoration:underline;
}

.innerbf2{
    display: none;
}


.innerbf2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    width: 100%;
    padding: 2% 0%;
    font-size:small;
}
.innerbf2 ul{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.innerbf2 li{
    list-style:none;
    margin-bottom: 2%;
}
.innerbf2 a{
    text-decoration: none;
    color: #fff;
}
.innerbf2 a:hover{
    text-decoration: underline;
}


@media screen and (max-width:600px) {

    .inneruf {
        display: none;
    }

    .footer{
       /* background-color: green;  */
       align-items: flex-end;
    }

    .upperfooter_mobile .inneruf{
        display: flex;
        justify-content: flex-end;
        /* background-color: blue; */
        width: 98vw;
        font-size: 4vw;
        gap: 5vh;
        
    }

    .upperfooter_mobile .inneruf li{
        padding-bottom: 5vw;
        width: 90%;
        text-align: start;
        /* background-color: red; */
        margin-left: 2vh;

    }

    .upperfooter_mobile .inneruf a{
        color:#fff;
    }

    .middlefooter{
        display: none;
    }
    .middlefooter_mobile{
        display: flex;
        background-color: #131A22;
        width: 100%;
        align-items: center;
        justify-content: start;
        border: none;

    }

    .middlefooter_mobile button{
        border:none;
        margin-left: 1vh;
        margin-top: 2vh;
    }

    .innerbf{
        display: none;
    }

    .innerbf_mobile{
        display: block;
        margin: 2vh 0vh;
    }
    .innerbf_mobile a{
        color:#fff;
        text-decoration: none;
        font-size:2vh;
    }

    .innerbf2{
        display: none;
    }
    .innerbf2_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* background-color: red; */
        font-size: 2.5vw;
        margin-bottom: 5vh;
        width: 100%;


    }

    .innerbf2_mobile ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 80%;
        margin-bottom: 1vh;
        /* background-color: blue; */
    }

    .innerbf2_mobile li{
        list-style: none;
        margin-bottom: 1vh;
    }

    .innerbf2_mobile a{
        text-decoration: none;
        color: lightgray;
    }

    .innerbf2_mobile > span{
        color:lightgray;
    }
}
