.header{
    display: flex;
    flex-direction: column;
    z-index: 99;

}
.upperheader{
    width: 100%;
    height: 7vh;
    background-color:#131A22;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* position: fixed; */
}
.left_header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* background-color: red; */
}
.img1{
    display: none;
}
.img2{
    width: 45%;
    height: 65%;
    margin: 0px 0px 0px 0px;
    padding: 7px 7px 0px 7px;
    /* background-color: green; */
}
.img2:hover{
    border:1px solid #fff;
    border-radius: 2px;
}
.location{
    word-break:keep-all;
    width:30%;
    height: 70%;
    padding: 2px;
    margin: 0px -10px 0px -30px;
    /* background-color: blue; */
}
.location span{ 
    color:lightgray;
    font-size: smaller;
    padding-left: 15px;

}
.location h5{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: medium;
}

.location:hover{
    border: 1px solid #fff;

}
.searchbar{
    display: flex;
    flex: 1;
    align-items: center;
    /* background-color: violet; */
}

.searchbar:focus-within{
    border: 3px solid #febd69;
    border-radius: 6px;
}

.searchbar select{
    height: 40px;
    width: 6%;
    background-color: lightgray;
    border: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.searchbar input{
    height: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.srci{
    background-color:#febd69 ;
    height: 22px !important;
    padding: 9px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.srci:active{
    border: 3px solid #febd69;
}
.srci:hover{
    background-color: #e1a351;
}
.rightHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.5;
}
.languages{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 15px 2px 0px 2px;
    margin-top: 5px;
}
.languages img{
    padding: 3px;
}
.languages select{
    outline: none;
    border: none;
    background-color:#131A22;
    color:#fff;
}
.languages:hover{
    border: 1px solid #fff;
}
.login{
    padding:2px;
    margin-top: 0.5vw; 
    /* background-color: tan; */
    display: flex;
}
.login span{
    display: flex;
    flex-direction: column;
    font-size: 0.8vw;
    /* background-color: blue; */
}

.login span .pi{
    display: none;
}

.login span::after{
    content: "Accounts & List";
    /* background-color: red; */
    font-size: 1vw;
}
.login select{
    outline: none;
    border: none;
    background-color:#131A22;
    color:#fff;
    height: 1vw;
    margin-top: 1vw;

}
.login:hover{
    border:1px solid #ffffff;
}
.returns{
    padding:5px;
}
.returns:hover{
    border:1px solid #fff;
}
.cart{
    color: #fff;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: salmon; */
}
.cart::after{
    content: "cart";
}
.cart:hover{
    border:1px solid #fff;
}

.bottomheader{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #232F3E;
    overflow: hidden;
}
.bottomheader a{
    padding: 8px 10px;
    text-decoration: none;
    font-size: small;
    color: #fff;
}
.bottomheader a:nth-child(1){
    display: flex;
    /* background-color: red; */
    padding: 3px 6px;
    align-items: center;
    gap: 0.4vw;
}
.bottomheader a:hover{
    border:1px solid #fff;
}

.location_mobile{
    display: none;
}
@media (max-width:600px){

    .upperheader{
        height: 20vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-start;
        gap:9vw;
        /* background-color: green; */
    }
    .left_header{
        display: flex;
        justify-content:start;
        align-items: center;
        width: 40%;
        order: -9;
    }
    .img1{
        display: inline;
        width: 10vw;
        height: 5vh;
        padding: 0 1vw;
    }
    .img2{
        width: 20vw;
        margin-top: 1vw;
    }
    .img2:hover{
        border:none;
    }

    .login{
        display: inline;
        font-size: 5vw;
    }
    .login span{
        width: 18vw;
        font-size: 3vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .login span .pi{
        display: inline;
    }
    .login select{
        display: none;
    }
    .login span::after{
        content: "";
    }
    .login:hover{
        border:none;
    }
    .location{
        display: none;
    }
    .languages{
        display: none;
    }
    .returns{
        display: none;
    }
    .searchbar{
        margin-top: -17vw;
        display: flex;
        justify-content: center;
        height: 13vw;
        max-width: fit-content;
        border-radius: 6vw;
        margin-left: 3vw;
    }
    .searchbar:focus-within{
        border: 0.5vw solid #febd69;
        border-radius: 2.2vw;
    }
    .searchbar select{
        display: none;
    }
    .searchbar input{
        width: 75vw;
        height: 4vh;
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }
    .srci{
        width: 8vw;
        padding: 4vw 2vw;
        border-top-right-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
    .rightHeader{
        order: -8;
    }
    .cart{
        padding-top: 3vw;
    }
    .cart::after{
        content: "";
    }
    .cart:hover{
        border:none;
    }
    .bottomheader{
        margin-top: -12vw;
        overflow-x: scroll;
        overflow-y: hidden;
        background-color:#131A22;
    }
    .bottomheader a{
        white-space:nowrap;
        font-size: 3.5vw;
    }
    .bottomheader a:nth-child(1){
        display: none;
    }
    .bottomheader a:hover{
        border:none;
    }
    .location_mobile{
        display: flex;
        gap: 2vw;
        align-items: center;
        height: 5vh;
        padding: 0 3vw;
        background-color: #232F3E;
        color: #fff;
    }
    .location_mobile h5{
        font-size: 4vw;
        font-weight: 400;
    }
}