.prodlist{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -30%;
    position: relative;
}
.prodlist h3{
    margin: 0;
    padding: 10px;
}
.prodlist a{
    padding: 15px;
    text-decoration: none;
    font-size: small;
    color: rgb(57, 142, 203);
}
.prodlist a:hover{
    color: rgb(142, 0, 0);
}
.prodlist img{
    width: 20vw;
    height: 35vh;
}
.prod1{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 20px;
    margin: 10px 0px;
    width: 20%;
}
.prod2{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 20px;
    margin: 10px 0px;
    width: 20%;
}
.prod3{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 20px;
    margin: 10px 0px;
    width: 20%;
}
.prod4{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 20px;
    margin: 10px 0px;
    width: 20%;
}
.prod6{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 20px;
    margin: 10px 0px;
    width: 20%;
}
.prod5{
    background-color:#fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px;
    width:20%;
    height: 46.5vh;
}
.prod5_mobile{
    display: none;
}
.innerimgs{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:flex-end;
    cursor: pointer;
}
.innerimgs img{
    width: 7vw;
    height: 7vh;
    padding: 10px 20px;
}
.innerimgs .innerimg1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerimgs .innerimg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerimgs .innerimg3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerimgs .innerimg4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prod7_moblie{
    display: none;
}
.prod7{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px;
    width:22%;
    height: 46.5vh;
}
.dealsimgs img{
    width: 8vw;
    height: 11vh;
    padding: 5px 20px;
}
.dealsimgs{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:flex-end;
    cursor: pointer;
}
.dealsimgs .dealimg1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.dealsimgs .dealimg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;

}
.dealsimgs .dealimg3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;

}
.dealsimgs .dealimg4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.prod8_mobile{
    display: none;
}

.prod8{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px;
    width:22%;
    height: 46.5vh;
}
.spaceimgs img{
    width: 8vw;
    height: 10vh;
    padding: 5px 20px;
}
.spaceimgs{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:flex-end;
    cursor: pointer;
}
.spaceimgs .spaceimg1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.spaceimgs .spaceimg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.spaceimgs .spaceimg3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.spaceimgs .spaceimg4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.prod9{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px 20px;
    margin: 1% 0%;
    width:94%;

}
.prod9 .exinfo {
    display: flex;
}
.excitingimgs img{
    width: 15vw;
    height: 18vh;
    padding: 0% 20%;
    box-sizing: border-box;
}
.excitingimgs{
    display: flex;
    flex-direction: row;
    padding: 0px;
    overflow-x:hidden;
}
.excitingimgs:hover{
    overflow-x: scroll;
}
.excitingimgs .eximg1{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg2{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg3{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg4{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg5{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg6{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg7{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg8{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.excitingimgs .eximg9{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

@media (max-width:600px){
    .prodlist{
        background-color:transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -168%;
        position: relative;
    }

    .prod5{
        display: none;
    }
    .prod5_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        height: 50vh;
    }
    .prod5_mobile > h3{
        font-weight: 999;
        padding: 2vh 4vh;
    }
    .prod5_mobile > a{
        font-size: 2vh;
        font-weight: 900;
        padding: 2vh 4vh;
    }
    .prod5_mobile > .innerimgs{
        background-color: #fff;
        display: flex;
        gap: 3vw;
        justify-content: center;
        align-items: center;
        padding: 5vw 1vw;
    }

    .prod5_mobile > .innerimgs img{
        width: 30vw;
        height: 10vh;
    }

    .prodlist h3{
        font-size: 4vw;
        margin: 0;
        padding: 10px;
    }
    .prodlist a{
        padding: 15px;
        text-decoration: none;
        font-size: small;
        color: rgb(57, 142, 203);
    }

    .prodlist img{
        width: 40vw;
        height: 20vh;
        object-fit: cover;
    }

    .prod1{
        background-color:#fff;
        display: flex;
        flex-direction: column;
        white-space:nowrap;
        align-items: center;
        padding:0vw;
        margin: 0vw; 
        width: fit-content;
    }
    .prod1 a{
        font-size: 4vw;
        margin: 0;
    }
    .prod2{
        background-color:#fff;
        display: flex;
        flex-direction: column;
        white-space:nowrap;
        align-items: center;
        padding:0;
        margin: 0vw;
        width: fit-content;
    }

    .prod2 a{
        font-size: 4vw;
        margin: 0;
    }
    .prod3{
        background-color:#fff;
        display: flex;
        flex-direction: column;
        white-space:nowrap;
        align-items: center;
        /* padding:0;
        margin: 0; */
        width: fit-content;
    }

    .prod3 a{
        font-size: 4vw;
        margin: 0;
    }
    .prod4{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        white-space:nowrap;
        align-items: center;
         padding:0vw 1vw; 
        margin: 1vw 0vw; 
        width: fit-content;
    }
    .prod4 a{
        font-size: 4vw;
        margin: 0;
    }
    .prod6{
        display: none;
    }

    .prod7{
        display: none;
    }
    .prod7_moblie{
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    .prod7_moblie .dealsimgs{
        /* background-color: blue; */
        display: flex;
        gap: 6vw;
        align-items: center;
        justify-content: center;
    }

    .prod7_moblie .dealsimgs img{
        width: 40vw;
        height: 18vh;
        object-fit: cover;
        padding: 0vw 1.2vw;
        margin-bottom: 3vw;
    }

    .prod7_moblie .dealsimgs h3{
        font-size: 6.5vw;
        padding-top: 5vw;
    }

    .prod7_moblie .dealsimgs a{
        font-size: 5vw;
    }

    .prod7_moblie .dealsimgs .dealimg1{
        font-size: 2vh;
    }

    .prod7_moblie .dealsimgs .dealimg2{
        font-size: 2vh;
    }

    .prod7_moblie .dealsimgs .dealimg3{
        font-size: 2vh;
    }

    .prod7_moblie .dealsimgs .dealimg4{
        font-size: 2vh;
    }

    .prod8{
        display: none;
    }
    .prod8_mobile{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin-top: 2vw;
    }

    .prod8_mobile .spaceimgs img{
        width: 40vw;
        height: 18vh;
        object-fit: cover;
        padding: 0vw 1.2vw;
        margin-bottom: 3vw;

    }
    .spaceimgs{
        display: flex;
        gap: 6vw;
        align-items: center;
        justify-content: center;
    }

    .prod8_mobile .spaceimgs h3{
        font-size: 6.5vw;
        padding-top: 5vw;
    }

    .prod8_mobile .spaceimgs a{
        font-size: 5vw;
    }
    .prod8_mobile .spaceimgs .spaceimg1{
        font-size: 2vh;
    }
    .prod8_mobile .spaceimgs .spaceimg2{
        font-size: 2vh;
    }
    .prod8_mobile .spaceimgs .spaceimg3{
        font-size: 2vh;
    }
    .prod8_mobile .spaceimgs .spaceimg4{
        font-size: 2vh;
    }
    .prod9{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width:91%;
    
    }
    .prod9 .exinfo {
        /* display: flex; */
    }
    .excitingimgs img{
        width: 70vw;
        height: 20vh;
        box-sizing: border-box;
    }
    .excitingimgs{
        display: flex;
        flex-direction: row;
        padding: 0px;
        overflow-x:hidden;
    }

}